/* CSS FILE */
/* BASE */
:root {
  --primary-color: #1b3b51;
  --secondary-color: #cd9402;
  --grey: #ccc;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

html {
  font-size: 16px;
}

img,
video {
  width: 100%;
  height: auto;
}

.nav-dot {
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/* UTILS */
.font-merri {
  font-family: "Merriweather", sans-serif;
}

.font-funny {
  font-family: "Montserrat Alternates", sans-serif;
}

/* HEADER */
#header .up-bar-row {
  display: flex;
  align-items: center;
}

#header .up-bar-row .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 0.3rem;
  height: 0.3rem;

  border: 1px solid black;
}

#header .up-bar-row .login-icon {
  background-image: url(../Images/login.jpeg);
}

#header .up-bar-col {
  padding: 0.3rem 1.1rem;
}

#header .up-bar-col a {
  color: black;
  font-weight: bold;
}

@media only screen and (min-width: 481px) {
  #header .up-bar-row {
    justify-content: flex-end;

    max-width: 92%;
    margin: 0 auto;
  }

  #header .up-bar-col a {
    font-size: 1rem;
  }

  #header .up-bar-col {
    border-left: 1px solid var(--grey);
  }

  #header .up-bar-col:last-child {
    border-right: 1px solid var(--grey);
  }

  #header .up-bar-row .icon {
    width: 1rem;
    height: 1rem;
    margin-right: 0.33rem;
  }
}

@media only screen and (max-width: 482px) {
  #header .up-bar-row {
    justify-content: space-evenly;
  }

  #header .up-bar-col {
    border-right: 1px solid var(--grey);
    border-left: 1px solid var(--grey);
  }

  #header .up-bar-col a {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 321px) {
  #header .up-bar-col a {
    font-size: 0.5rem;
  }
}
/* ===================== */
#header .title-row {
  background-image: url(../Images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  border-top: 1px solid var(--grey);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  position: relative;

  padding: 1rem 0;
}

#header .title-row h1 {
  color: var(--primary-color);
  margin: 0;
  font-weight: 300;
}

#header .title-row h2 {
  color: var(--secondary-color);
  font-weight: 300;
  padding-left: 0.8rem;
}

#header .title-row::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.9;
  background-color: #fff;
}

#header .title-row * {
  z-index: 1;
}

#header .title-row .logo-col {
  background-image: url(../Images/logo.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 769px) {
  #header .title-row .logo-col {
    width: 8rem;
    height: 8rem;
  }

  #header .title-row h1 {
    font-size: 3.5rem;
  }

  #header .title-row h2 {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
  }

  #header .title-row h1,
  #header .title-row h2 {
    line-height: 2.7rem;
  }
}

@media only screen and (max-width: 770px) {
  #header .title-row .logo-col {
    width: 6rem;
    height: 6rem;
  }

  #header .title-row h1 {
    font-size: 2.3rem;
  }

  #header .title-row h2 {
    font-size: 1.3rem;
    letter-spacing: 0.12rem;
  }

  #header .title-row h1,
  #header .title-row h2 {
    line-height: 1.8rem;
  }
}

@media only screen and (max-width: 481) {
  #header .title-row .logo-col {
    width: 4rem;
    height: 4rem;
  }

  #header .title-row h1 {
    font-size: 1.7rem;
  }

  #header .title-row h2 {
    font-size: 0.8rem;
    letter-spacing: 0.2rem;
  }

  #header .title-row h1,
  #header .title-row h2 {
    line-height: 1.1rem;
  }
}

@media only screen and (max-width: 320px) {
  #header .title-row {
    padding: 0.5rem 0;
  }

  #header .title-row .logo-col {
    width: 3rem;
    height: 3rem;
  }

  #header .title-row h1 {
    font-size: 1.2rem;
  }

  #header .title-row h2 {
    font-size: 0.5rem;
    letter-spacing: 0.2rem;
  }

  #header .title-row h1,
  #header .title-row h2 {
    line-height: 0.9rem;
  }
}

/* NAVBAR */
#navbar .navbar-items {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#navbar a {
  color: var(--white);
  font-weight: bold;
}

@media only screen and (min-width: 769px) {
  .nav-dot {
    width: 7px;
    height: 7px;
  }

  #navbar a {
    font-size: 1rem;
  }

  #navbar .navbar-items {
    padding: 0.6rem 0;
  }

  #navbar .more {
    visibility: hidden;
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .nav-dot {
    width: 7px;
    height: 7px;
  }

  #navbar a {
    font-size: 0.8rem;
  }

  #navbar .extend {
    visibility: hidden;
    display: none;
  }

  #navbar .navbar-items {
    padding: 0.4rem 0;
  }
}

@media only screen and (max-width: 321px) {
  .nav-dot {
    width: 3px;
    height: 3px;
  }

  #navbar a {
    font-size: 0.6rem;
  }

  #navbar .navbar-items {
    padding: 0.1rem 0;
  }
}
